APPLICATION_URL=http://www.rubyjobs.dev
DATABASE_URL=postgres://postgres@postgres/rubyjobs
GOOGLE_ANALYTICS_ID=
INTERCOM_ID=
KEEN_PROJECT_ID=
KEEN_WRITE_KEY=
MAIL_SERVER_URL=file://
PORT=5000
PUMA_MIN_THREADS=4
PUMA_MAX_THREADS=4
PUMA_WORKERS=1
RACK_ENV=development
RAILS_ENV=development
SESSION_SECRET=
SECRET_KEY_BASE=
SUPPORT_EMAIL=
