.bundle
.DS_Store
.ruby-version
db/schema.rb
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
config/database.yml
config/email.yml
config/newrelic.yml
Capfile
config/deploy.rb
config/deploy
# RubyMine
.idea
# Ignore application configuration
/config/application.yml
