<% content_for :meta_title, t('.meta_title') %>

<div class="page-header">
  <h1><%= t('.title') %></h1>
</div>

<div>
  <%= form_for(vacancy, html: { class: 'form-horizontal' }) { |f| render f } %>
</div>
