<% content_for :meta_title, t('.meta_title') %>
<% content_for :sidebar do %>
  <div class="page-header">
    <h2><%= t('.sidebar.title') %></h2>
    <p class="lead"><%== t('.sidebar.description') %></p>
  </div>
<% end %>

<div class="pb-5">
  <h1 class="pt-3 pb-4"><%= t('.title') %></h1>
  <hr class="shortline">
  <%= form_for(vacancy, html: { novalidate: true }) { |f| render f } %>
</div>
