/*
 *= require bootstrap.min
 *= require simple-line-icons.css
 *= require theme
 *= require_self
 *= require_tree .
*/

.button_to {
  display:inline-block;
  margin:0;
  padding:0;
}
.field_with_errors {
  display:inline;
}
.event-logo {
  height:100px;
}
